{% extends 'layout.html' %}
{% block body %}
    {% if session.logged_in %}
    <form action="{{ url_for('.add_post') }}" method="post" class="add-entry" about="">
        <table>
            <tr><td><br>Title:</td></tr>
            <tr><td><input type="text" name="title" maxlength="60" style="height: 30px;width: 300px"></td></tr>
            <tr><td>Status:</td></tr>
            <tr>
                <td><textarea name="text" rows="5" style="width:400px" maxlength="500" ></textarea></td>
            </tr>
            <tr><td><button type="submit">Share</button></td></tr>
        </table>
    </form>
    {% endif %}
{% endblock %}