{% extends 'layout.html' %}
{% block body %}
<h2>Edit Your Profile</h2>
<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Your Profile</td>
            <td>
                <input type="file" name="fileToUpload">
            </td>
        </tr>
        <tr>
            <td>Your nickname:</td>
            <td>{{ form.nickname(size=24) }}</td>
        </tr>
        <tr>
            <td>About yourself:</td>
            <td>{{ form.about_me(cols=32,rows=4) }}</td>
        </tr>
        <tr>
            <td>Items' number per page:</td>
            <td>{{ form.items_per_page(size=5) }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save changes"></td>
        </tr>
    </table>
</form>
{% endblock %}