{% extends 'layout.html' %}
{% block body %}
    <br>
    <div class="index">
    {% if session.logged_in %}
        {% include 'status.html' %}
            {% for post in posts %}
                {% include 'post.html' %}
            {% else %}
                <em style="color: white;" id="flashobj">Unbelievable. No entries so far here</em>
            {% endfor %}
        <div>
        <table width="95%">
            <tr>
                <td width="50%" style="text-align: left">
                    {% if crtpage > 1 %}
                    <a href="{{ url_for('index',page = crtpage - 1)}}">
                        &lt;&lt;previous page
                    </a>
                    {% endif %}
                </td>
                <td width="50%" style="text-align: right">
                    {%  if crtpage < totalpages %}
                    <a href="{{ url_for('index',page = crtpage + 1)}}">next page>></a>
                    {% endif %}
                </td>
            </tr>
        </table>
        </div>
        </div>
    {% endif %}
{% endblock %}
