<html>
<head>
<title>{{ g.user.nickname }}'s Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/moment.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="/static/style.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<div class="page">
    <h1 style="font-family: 'Lucida Grande'">{{ g.title }}</h1></br>
    <table class="right">
        <tr>
            <td></td>
            <td class="right">
            {% if session.logged_in %}
                <form action="{{ url_for('search') }}" method="post">
                    <table>
                        <tr valign="top">
                            <td><input type="text" name="search" style="height:27px" /></td>
                            <td><button type="submit"style="height: 26px;;font-family: georgia" class="top">Search</button></td>
                        </tr>
                    </table>
                </form>
            {% endif %}
            </td>
        </tr>
        <tr>
        <td></td>
        <td>
            {% if not session.logged_in %}
                <b class="right">
                <a href="{{ url_for('login') }}" style="text-decoration-line: none;font-family: georgia">Log in</a>
                <a href="{{ url_for('signup') }}" style="text-decoration-line: none;font-family: georgia">Sign up</a>
                </b>
            {% else %}
                <b class="right">
                    <a href="{{ url_for('index') }}" style="text-decoration-line: none;font-family: georgia">Feeds</a>
                    <a href="{{ url_for('viewposts.add_post') }}" style="text-decoration-line: none;font-family: georgia">Status</a>
                    <a href="{{ url_for('user',email=g.user.email) }}" style="text-decoration-line: none;font-family: georgia">Profile</a>
                    <a href="{{ url_for('logout') }}" style="text-decoration-line: none;font-family: georgia">Logout</a>
                </b><br />
            {% endif %}
        </td>
        </tr>
    </table>
<br><br><br><br><br>
    {% for message in get_flashed_messages() %}
       <div class="flash"><p>{{ message }}</p></div>
    {% endfor %}
<table width="100%">
<tr>
    <td valign="top" width="80%">{% block body %}{% endblock %}</td>
    <td valign="top" width="20%">{% block bodyright %}{% endblock %}</td>
</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<div>{% include 'providers.html' %}</div>
</div>
</body>
</html>