<html>
<head>
<title>{{ g.user.nickname }}'s Blog</title>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<script src="/static/js/moment.min.js"></script>
<div class="page">
    <h1>{{ g.title }}</h1></br>
    <table class="right">
        <tr>
            <td></td>
            <td class="right">
            {% if session.logged_in %}
                <form style="display: inline" action="{{ url_for('search') }}" method="post" name="search">
                    {{ g.search_form.hidden_tag()}}
                    {{ g.search_form.search(size=12)}}<input type="submit" value="Search">
                </form>
            {% endif %}
            </td>

        </tr>
        <tr>
        <td></td>
        <td>
            {% if not session.logged_in %}
                <div class="right">
                | <a href="{{ url_for('login') }}">Log in</a>
                | <a href="{{ url_for('signup') }}">Sign up</a>|
                </div>
            {% else %}
                <div class="right">
                    | <a href="{{ url_for('index') }}">Feeds</a>
                    | <a href="{{ url_for('viewposts.add_post') }}">Status</a>
                    | <a href="{{ url_for('user',email=g.user.email) }}">Profile</a>
                    | <a href="{{ url_for('logout') }}">Logout</a> |
                </div><br />
            {% endif %}
        </td>
        </tr>
    </table><br />
<br>
    <p>
    {% for message in get_flashed_messages() %}
        <br><div class="flash">{{ message }}</div>
    {% endfor %}
    </p>
<div>{% block body %}{% endblock %}</div>
<div>{% include 'providers.html' %}</div>
</div>
</body>
</html>