{% extends 'layout.html' %}
{% block body %}
    {% if error %}<p class="error"><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('login') }}" method="post" class="entries">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td><b>Your email:</b></td>
            </tr>
            <tr>
                <td><input type="text" name="email" style="height: 27px;" placeholder="your email"required/></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Your password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password" style="height: 27px" placeholder="your password"required/></td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form.remember_me }} Remeber Me</td>
                <td></td>
            </tr>
            <tr>
                <td><button type="submit"  style="color: #0e90d2">Login</button></td>
            </tr>
        </table>
    </form>
{% endblock %}