{% extends 'layout.html' %}
{% block body %}
    <script type="text/javascript" src="static/js/md5.js"></script>
    <script type="text/javascript">
    function encryptionPassword(){
        document.getElementById('passwd').value =hex_md5(document.getElementById('passwd').value);
    }
    </script>
    {% if error %}<p class="error"><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('login') }}" method="post" class="entries" onsubmit="encryptionPassword()">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td><b>Your email:</b></td>
            </tr>
            <tr>
                <td><input type="text" name="email" style="height: 27px;"/></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Your password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input name="password" type="password" style="height: 27px" id="passwd"/></td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form.remember_me }} Remeber Me</td>
                <td></td>
            </tr>
            <tr>
                <td><button type="submit"  style="color: #0e90d2">Login</button></td>
            </tr>
        </table>
    </form>
{% endblock %}