<br>
<table>
    <tr valign="top">
        <th class="top-left"><a href="{{ url_for('user',email=post.author.email) }}"><img src="{{post.author.avatar(64)}}"></a></th>
        <td>
            <i class="left"><h2><a href="{{ url_for('user',email=post.author.email) }}">{{post.author.nickname}}</a></h2></i><br/>
            <p>
                <b>Label: </b>{{ post.title }}
                |<a href="{{ url_for('addcomment',postid=post.id) }}">comment</a> |
                {% if g.user==post.author %}
                    <a href="{{ url_for('delpost',postid=post.id)}}">delete</a> |
                {% endif %}
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b>Says: </b>{{ post.body }}<br />
            <i style="font-size: small;">@{{post.timestamp}}</i>
        </td>
    </tr>
    {% if post.comments.count()>0%}
    <tr>
        <td></td>
        <td><hr color=#987cb9 size="2">
        {% for cmt in post.comments.all() %}
                <table>
                    <tr>
                        <td class=""><a href="{{ url_for('user',email=cmt.byuser.email) }}">
                            <img src="{{cmt.byuser.avatar(32)}}"></a> :
                        </td>
                        <td>
                            {{ cmt.body }}
                            <br><i style="font-size: xx-small;">@{{ cmt.timestamp }}</i>
                        </td>
                    </tr>
                </table>
        {% endfor %}
        </td>
    </tr>
{% endif %}
</table>
<hr color=#987cb9 size="3.5">
