{% extends 'layout.html' %}
{% block body %}
    {% if error %}<p class="error"><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('signup') }}" method="post">
        <table>
            <tr>
                <td><b>Username:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="username" style=" height: 27px;" value="{{ tmpNickname }}" required></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="email" style=" height: 27px;" placeholder="your email"required/></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password1" style=" height: 27px;" placeholder="new password"required/></td>

            </tr>
            <tr>
                <td style="color: #0088cc">number, low- and up-case character is needed!</td>
            </tr>
            <tr>
                <td><b>Confirm Password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password2" style=" height: 27px;"placeholder="comfirm password" required/></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="submit" style="color: #0e90d2">Sign up</button></td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock %}