{% extends 'layout.html' %}
{% block body %}
    <script type="text/javascript" src="static/js/md5.js"></script>
    <script type="text/javascript">
        function encryptionPassword(){
            document.getElementById('passwd1').value =hex_md5(document.getElementById('passwd1').value);
            document.getElementById('passwd2').value =hex_md5(document.getElementById('passwd2').value);
        }
    </script>
    {% if error %}<p class="error"><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('signup') }}" method="post" onsubmit="encryptionPassword()">
        <table>
            <tr>
                <td><b>Username:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="username" style=" height: 27px;" value="{{ tmpNickname }}"></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="email" style=" height: 27px;"/></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password1" id="passwd1" style=" height: 27px;"/></td>
                
            </tr>
            <tr>
                <td><p style="color: #0088cc">number, low- and up-case character is needed!</p></td>
            </tr>
            <tr>
                <td><b>Confirm Password:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password2" id="passwd2" style=" height: 27px;"/></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="submit" style="color: #0e90d2">Sign up</button></td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock %}