<form action="{{ url_for('add_post') }}" method="post" id="blogstatus" style="display: none" class="center">
    <table>
        <tr><td style="color: white"><br>Title:</td></tr>
        <tr><td><input type="text" name="title" maxlength="60" style="height: 30px;width: 300px" placeholder="How are you feeling"required autofocus></td></tr>
        <tr><td style="color: white">Status:</td></tr>
        <tr>
            <td><textarea name="text" rows="4" style="width:400px" maxlength="500" placeholder="Writing something..."required></textarea></td>
        </tr>
        <tr><td><button type="submit" onclick="toggle('blogstatus')">Share</button></td></tr>
    </table>
</form>