{% extends 'layout.html' %}
{% block body %}
    <br>
    <table class="center">
    <tr valign="top-left">
        <td><img src="{{user.avatar(128)}}"></td>
        <td class="left">
        <p style="font-size: x-large;"><b>{{user.nickname}}</b></p>
            {% if user.about_me %}Description: <i>{{ user.about_me }}</i><br/>{% endif %}
            {% if user.last_seen %}Last seen on: <i>{{ momentjs(user.last_seen).calendar() }}</i><br />{% endif %}
            <p><b>{{ user.followers.count() }}<b /> followers |
                {% if user.id == g.user.id %}
                    <a href="{{url_for('edit')}}">Edit</a> |
                {% elif not g.user.is_following(user) %}
                    <a href="{{ url_for('follow',email=user.email) }}">Follow</a>
                {% else %}
                    <a href="{{ url_for('unfollow',email=user.email) }}">Unfollow</a> |
                    {% if g.user.is_rejecting(user) %}
                        <a href="{{ url_for('unreject',email=user.email) }}">Unreject</a>
                    {% else %}
                        <a href="{{ url_for('reject',email=user.email) }}">Reject</a> |
                    {% endif %}
                {% endif %}
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {% for post in posts %}
                {% include 'post.html' %}
            {% endfor %}
        </td>
    </tr>
    </table>
{#    <hr color=#988cb9 size="3">#}
{% endblock %}