{% extends 'layout.html' %}

{% block body %}
    <script>
        function togglefollowers() {
            theObj=document.getElementById('expandfollowers').style;
            if (theObj.display=="none")
                theObj.display="block";
            else
                theObj.display="none";
        }
    </script>
    <br>
    <table class="center" style="width: 100%">
    <tr valign="top">
        <td style="width: 10%"><img src="{{user.avatar(96)}}"></td>
        <td class="left" style="width: 50%">
        <table>
            <tr><td style="font-size: xx-large; color: #002a80"><b>{{user.nickname}}</b></td></tr>

            {% if user.about_me %}<tr><td>Description: <i>{{ user.about_me }}</i></td></tr>{% endif %}
            {% if user.last_seen %}<tr><td>Last seen on: <i style="font-size: smaller">{{ momentjs(user.last_seen).calendar() }}</i></td></tr>{% endif %}
            <tr>
                <td>
                    <button type="button" onclick="togglefollowers()"  style="border-style: hidden;background-color: transparent">
                        <b>{{ user.cntFollowers() }} followers</b></button> |
                    {% if user.id == g.user.id %}
                        <a href="{{url_for('edit')}}">Edit</a> |
                    {% elif not g.user.is_following(user) %}
                        <a href="{{ url_for('follow',email=user.email) }}">Follow</a>
                    {% else %}
                        <a href="{{ url_for('unfollow',email=user.email) }}">Unfollow</a> |
                        {% if g.user.is_rejecting(user) %}
                            <a href="{{ url_for('unreject',email=user.email) }}">Unreject</a>
                        {% else %}
                            <a href="{{ url_for('reject',email=user.email) }}">Reject</a> |
                        {% endif %}
                    {% endif %}
                </td>
            </tr>

{#        insert followers#}
        </table>
        </td>
    </tr>
    {% if user.cntFollowers()>0  %}
     <tr>
         <td></td>
         <td id="expandfollowers" style="display: none">
             {% include 'followers.html' %}
         </td>
     </tr>
    {% endif %}
    <tr>
        <td></td>
        <td style="width: 100%;">
            {% for post in posts %}
                {% include 'post.html' %}
            {% endfor %}
        </td>
    </tr>
    </table>
{#    <hr color=#988cb9 size="3">#}
{% endblock %}
{% block bodyright %}
    <br>
        <table class="left" >
            <tr>
                <th>
                    {% if user==g.user %}
                    <h4 style="color: #149bdf">My followeds</h4>
                    {% else %}
                    <h4 style="color: #149bdf">{{ user.nickname }}'s followeds</h4>
                    {% endif %}
                </th>
            </tr>
            {% if user.cntFolloweds()>0 %}
            <tr>
                <td>{% include 'followeds.html' %}</td>
            </tr>
            {% endif %}
    </table>
{% endblock %}